<views class="local" bgc="bl">
    <script>
        var zones = Dyko.open("db").collection("zones");
        var _id = 0;
        var num = "";
        var pass = "";

        function viewLoaded() {
            viewAppeared()
        }
    
        function viewAppeared() {
            zones.find({ selected: true }, function (res) {
                if (res.length != 0) {
                    tt.reRender({ text: res[0].name });
                    _id = res[0]._id;
                    num = res[0].number;
                    pass = res[0].pass;
                    var i = 0;
                    var cnt = [1, 2, 3, 4, 5, 6, 7, 8];
                    for (i in cnt) {
                        var vl = "nameUser{0}".format(cnt[i]);
                        if (vl in res[0]) {self.textfield("field{0}".format(cnt[i])).reRender({ text: res[0][vl] });
                       } else {self.textfield("field{0}".format(cnt[i])).reRender({text: "کاربر {0}".format(cnt[i])});}
                    }
                }
            });
        }

        function sv1() {
            zones.modifyQuery({ selected: true }, { nameUser1: field1.txt, nameUser2: field2.txt, nameUser3: field3.txt, nameUser4: field4.txt}, function (done) { zones.commit();});
            toast("ذخیره شد");
        }

        function svSend1() {
            sv1();
            self.sendSMS("*{0}**33#{1}!{2}!{3}!{4}!".format(pass, field1.txt, field2.txt, field3.txt, field4.txt), [num]);
        }


        function sv2() {
            zones.modifyQuery({ selected: true }, { nameUser1: field1.txt, nameUser2: field2.txt, nameUser3: field3.txt, nameUser4: field4.txt }, function (done) { zones.commit();});
            toast("ذخیره شد");
        }

        function svSend2() {
            sv2();
            self.sendSMS("*{0}**34#{1}!{2}!{3}!{4}!".format(pass, field5.txt, field6.txt, field7.txt, field8.txt), [num]);
        }

    </script>
    <topBar hidden="false" bgc="ymain" frame="p.w * 0.9">
        <topView title="محل جدید" />
        <button frame="1/8*7.8--1" padding="4" source="ic_help">open("user_manual", {"hname": "help5"});</button>
    </topBar>
    <lField pos="1" frame="1--1/12*2.5" text="کاربر" />
    <lField pos="2" frame="1--1/12*3.5" text="کاربر" />
    <lField pos="3" frame="1--1/12*4.5" text="کاربر" />
    <lField pos="4" frame="1--1/12*5.5" text="کاربر" />
    <button frame="2/5*3.5--1/12*6.5" id="saveB1" text="ذخیره" round="5" bgc="bbtn" tc="white" padding="2" clicked="sv1" font="IRANSans" />
    <button frame="2/5*1.5--1/12*6.5" id="saveSendB1" text="ذخیره و ارسال" round="5" bgc="bbtn" tc="white" padding="2" clicked="svSend1" font="IRANSans"/>

    <lField pos="5" frame="1--1/12*7.5" text="کاربر" />
    <lField pos="6" frame="1--1/12*8.5" text="کاربر" />
    <lField pos="7" frame="1--1/12*9.5" text="کاربر" />
    <lField pos="8" frame="1--1/12*10.5" text="کاربر" />
    
    <button frame="2/5*3.5--1/12*11.5" id="saveB2" text="ذخیره" round="5" bgc="bbtn" tc="white" padding="2" clicked="sv2" font="IRANSans" />
    <button frame="2/5*1.5--1/12*11.5" id="saveSendB2" text="ذخیره و ارسال" round="5" bgc="bbtn" tc="white" padding="2" clicked="svSend2" font="IRANSans"/>
</views>
